# Ignora archivos de Docker
*.log
*.pid
*.pid.lock
**/Dockerfile~
docker-compose.override.yml
docker-compose*.yml~

# Archivos de configuración y sensitive data
.env
*.env
.env.*

# Archivos de MySQL u otras bases de datos
sql/*.sql
data/

# Otros archivos temporales o de sistema
*.swp
*.bak
*.tmp
*~
